In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=b0e9edc35da2527dedf89879dd692549")

In [3]:
pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.2504,8.712,28485
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,28.2944,8.687,21575
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",2025-06-20,284.6079,8.601,331
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.3842,8.571,13030
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.0808,8.564,16509
5,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,14.3995,8.548,9219
6,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,19.0602,8.536,17242
7,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,26.7654,8.521,34006
8,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,7.5974,8.518,4493
9,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,15.8064,8.505,18176
10,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,25.3769,8.499,19187
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,19.3263,8.488,28804
12,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,20.3747,8.487,25200
13,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,15.8878,8.500,11828
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,18.0485,8.468,28336
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,21.6582,8.463,9053
16,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,34.8945,8.456,37348
17,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,14.0215,8.455,13455
18,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,8.3590,8.455,3921
19,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0084,8.449,5939

In [4]:
df = pd.DataFrame()

In [5]:
for i in range(1, 216):
    response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=b0e9edc35da2527dedf89879dd692549&language=en-US&page={i}")
    temp_df = pd.DataFrame(response.json()['results'])
    df = pd.concat([df,temp_df], ignore_index=True)

In [6]:
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,26.2504,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.712,28485
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",28.2944,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.687,21575
2,False,/l3ycQYwWmbz7p8otwbomFDXIEhn.jpg,"[16, 14, 28, 35, 10402]",803796,en,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",284.6079,/jfS5KEfiwsS35ieZvdUdJKkwLlZ.jpg,2025-06-20,KPop Demon Hunters,False,8.601,331
3,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,15.3842,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.571,13030
4,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,13.0808,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.564,16509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4295,False,/mdyeJRmLW3IPCo0e1oEmR8WBklm.jpg,[35],37768,it,Borotalco,Sergio Benvenuti is a shy seller of contracts ...,0.6145,/2IMlCia3G1EoI2fetNZkCVEkAzq.jpg,1982-01-22,Talcum Powder,False,6.810,464
4296,False,/hZnnUq0mrUQ3e54SJVca4mf2oAQ.jpg,"[27, 28]",36647,en,Blade,"The Daywalker known as ""Blade"" - a half-vampir...",8.3152,/hx0sdduAsr4rq03RZKZzglR25z7.jpg,1998-08-21,Blade,False,6.810,6263
4297,False,/7pZtTbxn8d6Blgcf4EUysdEu3bO.jpg,"[53, 80, 18, 28]",25941,en,Harry Brown,An elderly ex-serviceman and widower looks to ...,1.3317,/lk9qVzvPHuL2vX9ixNut9n0KfYD.jpg,2009-11-11,Harry Brown,False,6.810,1093
4298,False,/1HDpR7nLqQcGSdbC41pSxCPjjyH.jpg,"[12, 18, 35, 878, 53]",24750,en,Time After Time,Writer H. G. Wells pursues Jack the Ripper to ...,1.4191,/kb3VwGJfWLfohbzQZQ4s0HOMrSE.jpg,1979-09-28,Time After Time,False,6.800,350
4299,False,/593s1exlgxnzybKBhzlfq529wuy.jpg,[53],15247,en,The Ipcress File,Sly and dry intelligence agent Harry Palmer is...,1.1255,/iCNRK7NVhBvNpiyMRmCpTBFNoLO.jpg,1965-03-18,The Ipcress File,False,6.810,319

In [7]:
for i in range(216, 512):
    response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=b0e9edc35da2527dedf89879dd692549&language=en-US&page={i}")
    temp_df = pd.DataFrame(response.json()['results'])
    df = pd.concat([df,temp_df], ignore_index=True)

KeyError: 'results'

In [9]:
df = df[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

In [11]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26.2504,8.712,28485
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,28.2944,8.687,21575
2,803796,KPop Demon Hunters,"When K-pop superstars Rumi, Mira and Zoey aren...",2025-06-20,284.6079,8.601,331
3,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.3842,8.571,13030
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.0808,8.564,16509
...,...,...,...,...,...,...,...
9995,329833,Zoolander 2,Derek and Hansel are modelling again when an o...,2016-02-06,3.0596,4.927,2273
9996,10384,Supernova,"Set in the 22nd century, when a battered salva...",2000-01-14,1.6865,4.900,402
9997,299245,The Gallows,20 years after a horrific accident during a sm...,2015-07-09,1.0172,4.917,955
9998,214597,Fright Night 2: New Blood,"By day Gerri Dandridge is a sexy professor, bu...",2013-08-31,1.3638,4.917,306
9999,10213,From Dusk Till Dawn 3: The Hangman's Daughter,"Narrowly escaping death, outlaw Johnny Madrid ...",2000-01-18,1.1066,4.916,363

In [15]:
df.shape

(10000, 7)

In [17]:
df.to_csv('top-rated_movies.csv')