In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.impute import MissingIndicator, SimpleImputer

In [4]:
df = pd.read_csv('train.csv', usecols=['Age', 'Fare', 'Survived'])

In [5]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [6]:
X =df.drop(columns=['Survived'])
y = df['Survived']

In [7]:
X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
X_train.head()

      Age     Fare
331  45.5  28.5000
733  23.0  13.0000
382  32.0   7.9250
704  26.0   7.8542
813   6.0  31.2750

In [9]:
si = SimpleImputer()
X_train_imp = si.fit_transform(X_train)
X_test_imp = si.transform(X_test)

In [10]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()
clf.fit(X_train_imp, y_train)

y_pred = clf.predict(X_test_imp)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6480446927374302

In [11]:
mi = MissingIndicator()
X_train_miss = mi.fit_transform(X_train)
X_test_miss = mi.transform(X_test)

In [12]:
X_train['Age_na'] = X_train_miss
X_test['Age_na'] = X_test_miss

In [13]:
si = SimpleImputer()
X_train_imp2 = si.fit_transform(X_train)
X_test_imp2 = si.transform(X_test)

In [14]:
clf2 = LogisticRegression()
clf2.fit(X_train_imp2, y_train)

y_pred = clf2.predict(X_test_imp2)

accuracy_score(y_test, y_pred)

0.6368715083798883

In [30]:
si = SimpleImputer(add_indicator=True)

X_train = si.fit_transform(X_train)
X_test = si.transform(X_test)

In [32]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6368715083798883